<div class="back">
    <div class="container-fluid text-center">
      <%= image_tag "logo.jpg", style: "height: 85px" %>
    <h1>Cow Group</h1>
    <p>소그룹 생성 페이지에 오신걸 환영합니다! </p>
    </div>
    
    <%= form_tag(main_listcreate_path(id: @id), method: "post") do %>
        <div class="row">
          <div class="col-offset-2 col-8 col-sm-offset-3 col-sm-6">
            <div class="form-group">
              <%= text_field_tag "title", nil, class: "form-control log", placeholder: "제목" %>
            </div>
          </div>
        </div>    
        <div class="row">
          <div class="col-offset-2 col-8 col-sm-offset-3 col-sm-6">
            <div class="form-group">
              <%= text_field_tag "name", @user.username, class: "form-control" %>
            </div>
            <%= text_area_tag "content", nil, class: "form-control", placeholder: "게시글 내용", rows: "5" %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-offset-4 col-sm-4">
            <div class="form-group">
              <%= submit_tag "생성", class: "button btn-lg log" %>
            </div>
          </div>
        </div>
    <% end %>
</div>