<header id="header">
	<div class="inner text-center">
		<%= link_to "/main/mypage", class: "image avatar" do %>
			<%= image_tag "logo.jpg" %>
		<% end %>
		<h1><strong>CowGroup!!</strong></h1>
		<p>반가워요. <strong><%=@username%>님!</strong><br>
			자신만의 소그룹을<br>만들어 얘기해봅시다.</p>
		<%= link_to "소그룹생성하기", "/main/create", class: "button btn-lg" %><br><br>
		<%= link_to "로그아웃", "/users/logout", class: "button btn-lg" %>
	</div>
</header>


<div id="main" class="text-center">
	<%= form_tag("/main/search", method: "post") do %>
  	<div class="row">
  		<div class="col-12 col-md-offset-2 col-md-8">
  			<div class="input-group search">
  				<%= text_field_tag "search", nil, class: "form-control insearch", placeholder: "검색할 이름/모임이름" %>
  				<span class="input-group-btn"><%= button_to "검색", class: "btn insearch" %></span>
  			</div>
  		</div>
  	</div>
  <% end %>

	<section>
	  <h1 style="margin-bottom: 0.5em; background-color:gray; color: white;">스터디</h1>
		<div class="row">
		    <% @list1.each do |l| %>
		    <div class="col-sm-6">
			<article class="6u 12u$(xsmall) work-item">
				<%= link_to main_view_path(id: l.id), class: "image fit thumb" do %>
					<%= image_tag "study.png" %>
				<% end %>
				<center><h3><%= l.gp_name %></h3>
				<p><%= l.creater %></p></center>
			</article>
			</div>
			<% end %>
		</div>
	</section>
	<section>
	  <h1 style="margin-bottom: 0.5em; background-color:gray; color: white;">재능기부</h1>
		<div class="row">
		    <% @list2.each do |l| %>
		    <div class="col-sm-6">
			<article class="6u 12u$(xsmall) work-item">
				<%= link_to main_view_path(id: l.id), class: "image fit thumb" do %>
					<%= image_tag "talent.jpg" %>
				<% end %>
				<center><h3><%= l.gp_name %></h3>
				<p><%= l.creater %></p></center>
			</article>
			</div>
			<% end %>
		</div>
	</section>
</div>


<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.poptrox.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="assets/js/main.js"></script>

