
<header id="header">
	<div class="inner text-center">
		<%= link_to "/main/mypage", class: "image avatar" do %>
			<%= image_tag "logo.jpg" %>
		<% end %>
		<h1><strong>CowGroup!!</strong></h1>
		<p>자신만의 소그룹을 만들어 얘기해봅시다.</p>
		<%= link_to "소그룹생성하기", "/main/create", class: "button" %><br><br>
		<%= link_to "돌아가기", "/main/mypage", class: "button" %>
	</div>
</header>


<div id="main">
    
        <section>
		    <h2 style="margin-bottom: 1em;">검색된 소모임</h2>
			<div class="row">
				<% if @list.empty? %>
				검색된 소모임이 없습니다.
				<% else %>
			    <% @list.each do |l| %>
			    <div class="col-sm-6">
				<article class="6u 12u$(xsmall) work-item">
					<%= link_to main_view_path(id: l.id), class: "image fit thumb" do %>
						<%= image_tag "lion.png" %>
					<% end %>
					<center><h3><%= l.gp_name %></h3>
					<p><%= l.creater %></p></center>
				</article>
				</div>
				<% end %>
				<% end %>
			</div>
		</section>
</div>


<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.poptrox.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="assets/js/main.js"></script>
