<header id="header">
	<div class="inner text-center">
		<%= link_to "/main/mypage", class: "image avatar" do %>
			<%= image_tag "logo.jpg" %>
		<% end %>
		<h1><strong><%= @list.gp_name %></strong></h1>
		<p style="font-size: small;"><strong><%= @list.creater %></strong></p><br><br>
		<%= form_tag(main_membercreate_path(id: @list.id), method: "post") do %>
		    <%= hidden_field_tag "name", @user.username %>
		    <%= submit_tag "소그룹 가입하기", class: "button" %>
		<% end %>
		<%= link_to "돌아가기", "/main/mypage", class: "button" %>
	</div>
</header>
<div id="main">
    <section>
        <h2>소모임 소개</h2>
        <div style="border: 2px solid #ccc; border-radius: 4px; height: 50vh; margin-top: 1em; padding: 1em"><%= @list.content %></div>
        <div style="height: 5vh; margin-top: 1em;">
            <center>이 소모임에 속한 회원 : <% @member.each do |m| %><%= m.name %> <% end %></center>
        </div>
    </section>
	<section>
	    <div style="overflow:hidden;">
	        <h2 style="float:left;">소그룹 게시판</h2>
	        <%= link_to "게시글 쓰기", main_list_path(id: @list.id), class: "button post_write" %>
	    </div>
        <div class="table-wrapper" style="margin-top: 1em;">
                        <table>
                           <tbody>
                              <tr>
								<td width="10%">번호</td>
                                <td width="70%">제목</td> <!-- 여기에 제목 입력 -->
                                <td width="20%">작성자</td>
                              </tr>
                              <% @post.each do |p| %>
                              <tr>
                                 <td width="10%"><%= p.id %></td>
                              	 <td width="70%">
                              	     <%= link_to p.title, main_showpost_path(id: p.id) %>
                              	 </td>
                              	 <td width="20%"><%= p.name %></td>
                              </tr>
                              <% end %>
                           
                           </tbody>
                           <tfoot>
                           </tfoot>
                        </table>
        </div>
         
    </section>

</div>
