<div class="back">
    <div class="container-fluid text-center">
      <%= image_tag "logo.jpg", style: "height: 85px" %>
    <h1>Cow Group</h1>
    <p>소그룹 생성 페이지에 오신걸 환영합니다! </p>
    </div>
    
    <%= form_tag("/users/login_process", method: "post") do %>
    <div class="row">
      <div class="col-xs-offset-2 col-xs-8 col-sm-offset-3 col-sm-6">
        <div class="form-group">
          <%= text_field_tag "username", nil, class: "form-control log", placeholder: "이름을 입력해주세요" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-offset-2 col-xs-8 col-sm-offset-3 col-sm-6">
        <div class="form-group">
          <%= password_field_tag "password", nil, class: "form-control log", placeholder: "비밀번호를 입력해주세요" %>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-offset-4 col-xs-4 col-sm-offset-4 col-sm-4">
        <div class="form-group">
          <%= submit_tag "LOGIN", class: "btn btn-lg log" %>
        </div>
      </div>
    </div>
    <% end %>
    <div class="row">
      <div class="col-xs-offset-4 col-xs-4 col-sm-offset-4 col-sm-4 form-group">
        <%= link_to "REGISTER", "/users/new", class: "button btn btn-lg log" %>
      </div>
    </div>


</div>

